REPLICAS="2"
ADMIN_ADDR="admin@mail.addr"
HOSTNAME="proxymx.company.tld"
RELAY_DOMAINS="proxy.company.tld"
NEXTHOP="1.2.3.4"
MYNETWORKS="127.0.0.0/8 outbound.protection.outlook.com"
SMTP_ARCHIVE=""
LOGLEVEL="DEBUG"
