{
    "home":             "/home/proxy/",

    "work_dir":         "work",

    "export_dir":       "export",

    "keys_dir":         "keys",

    "SMTP_HOST":        "127.0.0.1",
    "SMTP_PORT":        "25",

    "sq_bin":           "/usr/local/bin/sq",

    "admin_addr":       "someone@yourcompany.tld",

    "dts_domains":      [ "yourcompany.tld" ],

    "export_loglevel":  "DEBUG",

    "scan_pipes": [
        {"name": "SpamAssassin", "cmd": "spamc --check -"},
        {"name": "ClamAV", "cmd": "clamdscan --verbose -z -"}
    ]
}
